aiohttp==0.22.1
aioredis==0.2.7
asphalt==2.0.0
asphalt-redis==1.0.0
asyncio-extras==1.1.1
chardet==2.3.0
click==6.6
hiredis==0.2.0
http-parser==0.8.3
Kyokai==1.5.1
libmagic==1.0
lxml==3.6.0
python-magic==0.4.12
PyYAML==3.11
redis==2.10.5
typeguard==1.2.1
unidecode==0.04.19