aiohttp>=0.21.6
aioredis>=0.2.7
asphalt>=2.0.0
asphalt-redis>=1.0.0
asyncio-extras>=1.1.1
chardet>=2.3.0
click>=6.6
hiredis>=0.2.0
http-parser>=0.8.3
Kyokai==1.3.0
lxml>=3.6.0
python-magic>=0.4.11
PyYAML>=3.11
typeguard>=1.2.0
uvloop>=0.4.29
